@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductExistencesCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create existence entry for @Model.Product.Name</h1>

@if (!string.IsNullOrWhiteSpace(Model.ReturnUrl))
{
    <a href="@Model.ReturnUrl">Go back</a>
}
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="ProductExistences" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(m => m.ProductExistence.ProductId)
                @Html.HiddenFor(m => m.ReturnUrl)
                <label asp-for="ProductExistence.Amount" class="control-label">Amount (@Model.Product.Unit)</label>
                <input asp-for="ProductExistence.Amount" class="form-control"/>
                <span asp-validation-for="ProductExistence.Amount" class="text-danger"></span>
                <label asp-for="ProductExistence.Location" class="control-label"></label>
                <input asp-for="ProductExistence.Location" class="form-control"/>
                <span asp-validation-for="ProductExistence.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}