@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BLL.Identity
@model Domain.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servings)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrepareTimeMinutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrepareTimeMinutes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Creator)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsAllowedToManageRecipe(Model))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>@: | 
    }
    <a asp-action="Index">Back to List</a>
</div>
